name: Jekyll site CI

on:
  push:
    branches:
      - main  # 触发构建的分支，你可以根据需要修改

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'  # 选择与 Gemfile 兼容的 Ruby 版本

    - name: Clear Bundler cache
      run: |
        bundle clean --force
        rm -rf .bundle/
        rm -rf vendor/cache/

    - name: Install dependencies
      run: |
        gem install bundler
        bundle install

    - name: Check Jekyll version
      run: bundle exec jekyll -v  # 这将输出正在使用的 Jekyll 版本以确认

    - name: Build the site
      run: bundle exec jekyll build

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site
